body{
	background-color: #ECEEF1;
	text-align: center;
	font-family:Verdana, sans-serif;
}
a, button{
	cursor: pointer;
	text-decoration: none;
}
a{
	color: #0077C5;
}

nav {
	width: 100vw;
	height: 40px;
}
nav ul li {
	display: block;
}
.nav_signin_button{
	background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    float: right;
    width: 90px;
    height: 28px;
    font-size: 15px; 
    margin: 14px;
    margin-right: 30px;
}
.nav_instructions {
	font-size: 12px;
	float: right;	
}

.container{
	margin-top: 65px;
}

.insite_links{
	margin: 10px;
}

.insite_links li{
	display:inline;
}

.help{
	font-size:12px;
}

.signup_form{
	display: inline-block;
	background-color:white ;
	width:420px;
	height:710px;
	color: #4C4C4C;
	border:1px solid #C7C7C7;
}

.signup_form input{
	width: 350px;
	height: 34px;
	border: 1px solid #C7C7C7;
	border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding: 5px;
	font-size: 15px ;
}

.signup_form label{
	text-align:left;
	margin-top:30px;
	font-size: 16px ;
	font-weight:200;
	margin-left:27px ;
}

.form_input{
	display:flex;
	flex-direction:column;
}

.small_text_a{
	background-color:  #ECEEF1;
	height: 50px;
	width:420px;
	font-size: xx-small;
}
.small_text_b{
	text-align: left;
	margin-left: 27px;
	font-size: xx-small;
}
.terms{
	font-size: 10px;
	font-style: italic;
}

.submit{
	width: 364px;
	height: 55px;
	border-radius: 8px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom: 30px;
	font-size: 15px ;
	background-color: #127AC9;
	color: white;
}
footer {
	color: #4C4C4C;
	font-size: small;
	margin: 50px;
}