body{
	background-color: #ECEEF1;
	text-align: center;
}
a, button{
	cursor: pointer;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 40px;
}
nav ul li {
	display: block;
}
#nav_signin_button{
	background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    float: right;
    width: 120px;
    height: 38px;
    font-size: 20px; 
    margin: 15px;
    margin-right: 20px;

 
}
#nav_instructions{
	font-size: 16px;
	float: right;
}

#container{
	margin-top: 100px;

}

.insite_links{
	margin: 10px;
}

.insite_links li{
	display:inline;
}

#signup_form{
	display: inline-block;
	background-color:white ;
	width:350px;
	height:470px;
	border:1px solid #C7C7C7;
}

#form_input{
	display:flex;
	flex-direction:column;
}

#recaptcha{
	background-color:  #ECEEF1;
	height: 50px;
	width:350px;
}